<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome to Spartan Rivalries!</h1>
        <p><em>"It'll never be over here. It's just starting" - Coach D</em></p>
        <p>
            You have successfully signed up on to relive your favorite Spartan Rivalry moments.

            Take advantage of the favorites feature to save your favorite games and add special notes. Also, you can comment on some games you might not neccessarily want to favorite (like that 2004 Michigan heartbreaker that happened on my birthday).

        </p>
        <p>
            Remember, your username is: <%= @user.username %>.<br>
        </p>
        <p>Thanks for joining! I hope you enjoy the app!</p>

        <p><b>David Regan</b></p>
        <p>Software Engineer</p>
        <p>Spartan at Heart (Texas Alum)</p>
    </body>
</html>